### PCA - Titanic

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import seaborn as sns
tit = sns.load_dataset('titanic')
tit = tit[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']]
adult = tit[tit.age >= 20]
tit.age.fillna(adult.age.mean().round(1), inplace=True)
tit.embarked.fillna('S', inplace=True)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
tit.sex = le.fit_transform(tit.sex)
tit.embarked = le.fit_transform(tit.embarked)
X = tit.iloc[:, 1:].values
y = tit.survived.values
from sklearn.preprocessing import StandardScaler
tit_std = StandardScaler().fit_transform(X)
tit.head()

   survived  pclass  sex   age  sibsp  parch     fare  embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2